/*  Modifica el botón cerrar de toastify
	para que aparezca en la esquina superior
	izquierda */
    .toast-close {
        position: inherit !important;
        right: 2px;
        top: 2px;
        padding: 0;
    }
    
    .toast-info {
        background: linear-gradient(135deg, #73a5ff, #5477f5);
    }
    
    .toast-success {
        background-image: linear-gradient(135deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
        background-color: rgb(5,135,84);
    }
    
    .toast-danger {
        background-image: linear-gradient(135deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
        background-color: rgb(220,53,69);
    }
    
    .toastify {
        padding: 12px 30px 12px 12px;
    }
    
    footer {
        position: relative;
        bottom: 0;
        width: 100%;
    }
    
    footer .text-center {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .mt-5 {
        margin-top: 3rem !important; /* Agrega espacio extra entre los botones y el footer */
    }